@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.bg-dark-image {
  background-image: url('/bg-mobile-dark.jpg');
  background-size: 100% 30%;
  background-repeat: no-repeat;
}
.bg-light-image {
  background-image: url('/bg-mobile-light.jpg');
  background-size: 100% 30%;
  background-repeat: no-repeat;
}
.check {
  background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  
}

@media (min-width: 768px) {
  .bg-dark-image {
    background-image: url('/bg-desktop-dark.jpg');
  }
  .bg-light-image {
    background-image: url('/bg-desktop-light.jpg');
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
